.task-col-heading
{
    display: flex;
    align-items: center;
}


.task-col-img
{
    width: 30px;
    margin-right: 5px;
}

.task-column{
    width:33.33%;
    margin: 20px;
   border: solid grey;
   
   
  }